@page 
@model Proiect1.Pages.Toys.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Toys</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by Toy / Category:
 <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Back to full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ToySort">
                @Html.DisplayNameFor(model => model.ToyT[0].Toy)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToyT[0].For.For)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToyT[0].Price)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CategorySort">
                @Html.DisplayNameFor(model => model.ToyT[0].Category.Category)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToyT[0].Brand.Brand)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ToyT) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Toy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.For.For)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Brand)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
